@import "./utils.scss";

.form {
  display: flex;
  input {
    flex: 1;
    outline: none;
    border: none;
    border-bottom: 1px solid $formGreen;
    font-size: 1rem;
    font-weight: 400;
    color: $inputFont;
  }
}

.createButton {
  background: $formGreen;
  color: white;
  padding: 0.5rem 0.7rem;
  margin-left: 1rem;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background: darken($formGreen, 10%);
  }
}
