@import "./utils.scss";

.todoItem {
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
  display: flex;

  & + & {
    border-top: 0.5px solid $itemGray;
  }

  &:hover {
    background-color: $itemBgColor;
    .itemRemove {
      opacity: 1;
    }
  }
}

.itemRemove {
  opacity: 0;
  margin-right: 0.5rem;
}

.itemText {
  font-weight: 600;
  flex: 1;
  word-break: break-all; /* 비아시아 언어의 경우 의미 구분 없이 줄바꿈 */
}

.checked {
  color: $itemGray;
  text-decoration: line-through;
}

.itemCheck {
  color: green;
}

.black {
  color: $black;
}

.red {
  color: $red;
}

.green {
  color: $green;
}

.blue {
  color: $blue;
}
