.form {
  display: flex;
}

.form input {
  flex: 1;
  outline: none;
  border: none;
  border-bottom: 1px solid #1dd1a1;
  font-size: 1rem;
  font-weight: 400;
  color: #576574;
}

.create-button {
  background: #1dd1a1;
  color: white;
  padding: 0.5rem 0.7rem;
  margin-left: 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.create-button:hover {
  background: #10ac84;
}
