.todoListTemplate {
  background: white;
  width: 512px;
  margin: 0 auto;
  margin-top: 4rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.title {
  text-align: center;
  padding: 1.5rem;
  background: #1dd1a1;
  font-size: 2rem;
  font-weight: 600;
  color: white;
}

.colorWrapper {
  background-color: #ecf0f1;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.formWrapper {
  padding: 1rem;
  border-bottom: 1px solid #10ac84;
}

.todosWrapper {
  min-height: 3rem;
}
