.todoItem {
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
}

.todoItem + .todoItem {
  border-top: 0.5px solid #c8d6e5;
}

.todoItem:hover {
  background-color: #e4fbf5;
}

.todoItem:hover .itemRemove {
  opacity: 1;
}

.itemRemove {
  opacity: 0;
  margin-right: 0.5rem;
}

.itemText {
  font-weight: 600;
  flex: 1;
  word-break: break-all; /* 비아시아 언어의 경우 의미 구분 없이 줄바꿈 */
}

.checked {
  color: #c8d6e5;
  text-decoration: line-through;
}

.itemCheck {
  color: green;
}

.black {
  color: #2d3436;
}

.red {
  color: #ee5253;
}

.green {
  color: #10ac84;
}

.blue {
  color: #2e86de;
}
